@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@500&display=swap');
$titleFont:'Reggae One', cursive;
$mainFont: 'Shippori Mincho B1', serif;
/* Colores */
$primary:#dda1ff;
$body-bg:rgb(230, 246, 240);
$navbar-dark-color:rgb(210, 233, 255);

/* Cards */
$card-border-radius:5%;

 /* Carousel */
$carousel-control-color:$primary;
$carousel-control-width:3%;